html,
body {
  height: 100%;
  background-color: #333;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}

/* Overwrite some default Bootstrap styles */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input, textarea {
  border: 0 !important;
}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.cp-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}

.header {
  margin-bottom: 50px;
}
.header .brand {
  font-family: 'Signika', sans-serif;
  color: #fff;
  -webkit-text-fill-color: #666; /* Will override colorr (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222;
}

@media (min-width: 768px) {
  .header .title {
    text-align: right;
  }
}

.content #to_content_chars_left {
  margin-top: 5px;
  color: #999;
}

.footer {
  color: #999;
  text-align: center;
  margin-top: 50px;
}

.sms-wrapper {
  text-align: left;
  background-color: #222;
  min-height: 100%;
  padding: 0;
}

.sms-wrapper ul {
  margin: 0;
  padding: 0;
}

.sms-wrapper ul li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #333;
  width: 100%;
}

.sms-wrapper ul li ul li {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
}

.sms-wrapper ul li p {
  margin: 0;
}
.sms-wrapper ul li p.header {
  color: #aaa;
  font-size: 0.9em;
}
.sms-wrapper ul li p.body {
  font-weight: 600;
}
.sms-wrapper ul li ul li p.header {
  color: #ccc;
}